<!-- item_types.hbs -->
<head>
    <title>Item Types</title>
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Peoples Aristocratic Library: Library Items</h1>
    <a class="top-page-links" href="https://web.engr.oregonstate.edu/~dsouzam/index.html">Homepage</a>
    <a class="top-page-links" href="http://flip1.engr.oregonstate.edu:9761/">Library Items</a>
    <a class="top-page-links" href="https://web.engr.oregonstate.edu/~dsouzam/patrons.html">Patrons</a>
    <a class="top-page-links" href="https://web.engr.oregonstate.edu/~dsouzam/holds.html">Holds</a>
    <a class="top-page-links" href="https://web.engr.oregonstate.edu/~dsouzam/item_types.html">Item Types</a>

<br><br><br>

{{!-- Create a table --}}
<table id = "item-types-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the Library_Items parameters --}}
        {{#each data}}
        <tr data-value = {{this.item_id}}>
            <td>{{this.item_type_id}}</td>
            <td>{{this.type}}</td>
            <td>{{this.check_out_length}}</td>
            <td>{{this.fine_per_day}}</td>
            <td><button onclick="deleteItemType({{this.item_type_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_item-type.js"></script>
<!-- /views/library_items.hbs -->

{{!-- Form to add a library item type record to the table  --}}
<h2>Add a Library Item Type </h2>
<p>To add a new type, please enter the following information below and click 'Submit'!</p>
<form id="add-library-item-type-form-ajax">
    <label for="input-type">Type: </label>
    <input type="text" name="input-type" id="input-type">
    
    <label for="input-checkout-length">Checkout Length: </label>
    <input type="number" name="input-checkout-length" id="input-checkout-length">

    <label for="input-fine-per-day">Fine Per Day: </label>
    <input type="number" name="input-fine-per-day" id="input-fine-per-day">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_item_type.js"></script>